@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* 
h1,
h2,
h3,
h4 {
  font-weight: 600;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
